<div class="container">
  <div class="container-content">
    <h1 class="title">Typing challenge</h1>
    <p class="has-text-centered typing-content">
      <span
        [class]="compare(letter, correctText[i])"
        *ngFor="let letter of randomText.split(''); let i = index"
        >{{ letter }}</span
      >
    </p>
    <div class="field">
      <input class="input" type="text" (input)="onChangeInput($event)" />
    </div>
    <div class="success-box" *ngIf="randomText === correctText">
      <p class="title-success">Success!</p>
    </div>
  </div>
</div>
